{% extends 'base.html.twig' %}

{% block titre %}  {{ parent() }} | Accueil {% endblock %}

{% block main %}
    <div class="sortir">

        <h1>Filtrer les sorties</h1>



        <!--Formulaire de recherche de sortie-->
        <form method="get">

            <!--Selection du site avec une boucle for-->
            <label>Site:</label>
            <select name="site" id="Site">
{#                <option> --Sélectionner un site-- </option>#}
                {% for site in sites %}
                <option value="{{ site.id }}">{{ site.nom }}</option>
                {% endfor %}
            </select>

            <br>
            <!--Barre de recherche de la sortie-->
            <label>Le nom de la sortie contient :
                <div class="sortie">
                    <input type="text" id="recherche" name="recherche" placeholder="Rechercher"/>
                </div>
            </label>


            <!--Selection des dates-->
            <label for="datedebut">Entre
                <input id="date_debut" type="date" name="date_debut" date="d/m/Y">
            </label>
            <label for="datefin">et
                <input id="date_fin" type="date" name="date_fin" date="d/m/Y">
            </label>
            <br>

            <!--Selection des types de sortie-->
            <label>
                <input type="checkbox" name="choix1" value="1">
            </label>
            Sorties dont je suis l'organisateur/trice<br>
            <label>
                <input type="checkbox" name="choix2" value="2">
            </label>
            Sorties auxquelles je suis inscrit/e<br>
            <label>
                <input type="checkbox" name="choix3" value="3">
            </label>
            Sorties auxquelles je ne suis pas inscrit/e<br>
            <label>
                <input type="checkbox" name="choix4" value="4">
            </label>
            Sorties passées
            <br><br>

            <button type="submit" class="button">Rechercher</button>
            <br><br>
        </form>

        <!--Affichage des sorties-->
        <div class="listSortie">
            <table style="width: 100%">
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>

                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date("d/m/Y") }}</td>
                        <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                        <td>{{ sortie.etats.libelle }}</td>
                        <td><a href="{{ path('profil_detail',{'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</td>
                        <td><a href="{{ path('sortie_detail',{'id': sortie.id}) }}">
                                Afficher
                            </a>
                            <form action ="/profil{id}" method="post">
                                   <input type="hidden" name="inscription" value="{{ sortie.id }}">
                                <button class="button2"type="submit">
                                    Inscription
                                </button>
                            </form>
                            <form action ="/profil{id}" method="post">
                                <input type="hidden" name="desinscription" value="{{ sortie.id }}">
                                <button class="button2"type="submit">
                                    Se désinscrire
                                </button>
                            </form>
                            <a href="{{ path('sortie_annuler',{'id': sortie.id}) }}">
                                Annuler
                            </a>
                            </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    <a href="{{ path('sortie_ajouter') }}" class="button">Créer une sortie</a>

{% endblock %}
