{% extends 'base.html.twig' %}

{% block titre %} {{ parent() }} | Détail{% endblock %}

{% block main %}
    <h1>{{ sortie.nom }}</h1>

    <div class="afficher-col-gauche">
        <div>Date et heure de début : {{ sortie.dateHeureDebut|date("d/m/Y H:m") }}</div>
        <div>Date limite d'inscription : {{ sortie.dateLimiteInscription|date("d/m/Y") }}</div>
        <div>Nombre de place : {{ sortie.nbInscriptionsMax }}</div>
        <div>Durée {{ sortie.duree }} minutes</div>
        <div>Description et infos : {{ sortie.infosSortie }}</div>
    </div>
    <div class="afficher-col-droite">

        <br>
        <div>Ville organisatrice: {{ sortie.sites.nom }}</div>
        <br>
        <div>Lieu : {{ sortie.lieux.nom }}</div>
        <div>Rue : {{ sortie.lieux.rue }}</div>
        <div>Ville : {{ sortie.lieux.villes.codePostal }} {{ sortie.lieux.villes.nom }}</div>
        <br>
        <div>Latitude : {{ sortie.lieux.latitude }}</div>
        <div>Longitude : {{ sortie.lieux.longitude }}</div>
    </div>
    <br>
    <h2>Liste des participants inscrits:</h2>
    <div>
        <table style="width: 25%">
        <tr>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom</th>
        </tr>

        {% for participants in sortie.participants %}
        <tr>
            <td><a href="{{ path('profil_detail',{'id': participants.id}) }}">{{ participants.pseudo }}</td>
            <td><a href="{{ path('profil_detail',{'id': participants.id}) }}">{{ participants.prenom }} {{ participants.nom }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}
