{% extends 'base.html.twig' %}

{% block titre %} {{ parent() }} | Créer{% endblock %}

{% block main %}

    <h1>Créer une sortie</h1>
    <div class="col-gauche">
        {{ form_start(sortieForm) }}
        <div class="label">
            {{ form_label(sortieForm.nom) }}</div>
        <div class="input-group">
            {{ form_widget(sortieForm.nom) }}</div>
        <div class="label">
            {{ form_label(sortieForm.date_heure_debut) }}</div>
        <div class="input-group">
            {{ form_widget(sortieForm.date_heure_debut) }}</div>
        <div class="label">
            {{ form_label(sortieForm.duree) }}</div>
        <div class="input-group">
            {{ form_widget(sortieForm.duree) }} minutes
        </div>
        <div class="label">
            {{ form_label(sortieForm.date_limite_inscription) }}</div>
        <div class="input-group">
            {{ form_widget(sortieForm.date_limite_inscription) }}</div>
        <div class="label">
            {{ form_label(sortieForm.nb_inscriptions_max) }}</div>
        <div class="input-group">
            {{ form_widget(sortieForm.nb_inscriptions_max) }}</div>
        <div class="label">
            {{ form_label(sortieForm.infos_sortie) }}</div>
        <div class="input-group">
            {{ form_widget(sortieForm.infos_sortie) }}</div>
    </div>
    {{ form_start(sortieForm) }}

    <div class="col-droite">

        <div class="modal" id="modalAddLocation" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(lieuForm, { "attr": { "id": "lieuForm" }}) }}
                        {{ form_widget(lieuForm) }}
                        <button class="button" id="submitFormLocation" type="submit" data-url="{{ path("accueil") }}">
                            {{ "sortie.ajouter.lieu.confirm" }}
                        </button>
                        {{ form_end(lieuForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/ajouterSortie.js") }}"></script>
{% endblock %}