{% extends 'base.html.twig' %}

{% block titre %} {{ parent() }} | Créer{% endblock %}

{% block main %}

    <h1>Créer une sortie</h1>
    {{ form_start(sortieForm) }}
    <div class="col-gauche">
        <div class="label">
            {{ form_label(sortieForm.nom) }}</div>
        <div class="input-group">
            {{ form_widget(sortieForm.nom) }}</div>
        <div class="label">
            {{ form_label(sortieForm.dateHeureDebut) }}</div>
        <div class="input-group">
            {{ form_widget(sortieForm.dateHeureDebut) }}</div>
        <div class="label">
            {{ form_label(sortieForm.duree) }}</div>
        <div class="input-group">
            {{ form_widget(sortieForm.duree) }} minutes
        </div>
        <div class="label">
            {{ form_label(sortieForm.dateLimiteInscription) }}</div>
        <div class="input-group">
            {{ form_widget(sortieForm.dateLimiteInscription) }}</div>
        <div class="label">
            {{ form_label(sortieForm.nbInscriptionsMax) }}</div>
        <div class="input-group">
            {{ form_widget(sortieForm.nbInscriptionsMax) }}</div>
        <div class="label">
            {{ form_label(sortieForm.infosSortie) }}</div>
        <div class="input-group">
            {{ form_widget(sortieForm.infosSortie) }}</div>
    </div>
    <div class="col-gauche">
        <div class="label">
            {{ form_label(sortieForm.sites) }}</div>
        <div class="input-group">
            {{ form_widget(sortieForm.sites) }}</div>
        <div class="label">
            {{ form_label(sortieForm.lieux) }}</div>
        <div class="input-group">
            {{ form_widget(sortieForm.lieux) }}</div>
        {{ form_widget(sortieForm.enregistrer) }}
        {{ form_widget(sortieForm.publier) }}
        <a href="{{ path('accueil') }}" class="button">Annuler</a>
    </div>
    {{ form_end(sortieForm) }}
{% endblock %}
