{% extends 'base.html.twig' %}

{% block titre %} {{ parent() }} | Créer{% endblock %}

{% block main %}
    <h2>Créer une sortie</h2>
    <div class="formSortie">
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}

    </div>
    <div>

        <div class="lieux">
            {% for lieu in lieux %}
                <div class="lieu" data-lieu="{{ lieu.id }}">
                    <p>{{ lieu.latitude }} / {{ lieu.longitude }}</p>
                </div>
            {% endfor %}
        </div>

    </div>
    <button type="submit">Enregistrer</button>
    <button href="#">Publier la sortie</button>
    {{ form_end(sortieForm) }}
    <a href="{{ path('accueil') }}" class="button">Annuler</a>
{% endblock %}