{% extends 'base.html.twig' %}

{% block titre %} {{ parent() }} | Créer{% endblock %}

{% block main %}
    <h1>Créer une sortie</h1>
    <div class="formSortie">
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}

    </div>
    <div>


        <div class="lieux">
            {% for lieu in lieux %}
                <div class="lieu" data-lieu="{{ lieu.id }}">
                    <p>{{ lieu.latitude }} / {{ lieu.longitude }} / {{ lieu.rue }} </p>
                </div>
            {% endfor %}
        </div>

    </div>
    <button class="button" type="submit">Enregistrer</button>
    <button class="button" href="#">Publier la sortie</button>
    {{ form_end(sortieForm) }}
    <a href="{{ path('accueil') }}" class="button">Annuler</a>
{% endblock %}