{% extends 'base.html.twig' %}

{% block titre %} {{ parent() }} | Annuler sortie{% endblock %}

{% block main %}
    <h1>Annuler une sortie</h1>

    <div><strong>Nom de la sortie : </strong>{{ sortie.nom }}</div>
    <div><strong>Date et heure : </strong>{{ sortie.dateHeureDebut|date("d/m/Y") }}</div>
    <div><strong>Ville organisatrice: </strong>{{ sortie.sites.nom }}</div>
    <div><strong>Lieu : </strong>{{ sortie.lieux.nom }}
        <br> {{ sortie.lieux.rue }}
        <br> {{ sortie.lieux.villes.codePostal }} {{ sortie.lieux.villes.nom }}</div>
        <br>
    {{ form_start(sortieForm) }}
        <div><strong>
                Motif de l'annulation : </strong></div>
        <div class="input-group">
            {{ form_widget(sortieForm.infosSortie) }}</div>
    <div class="input-group">
        {{ form_widget(sortieForm.annuler) }}
        <a href="{{ path('accueil') }}" class="button">Retour</a>
    </div>
        {{ form_end(sortieForm) }}
{% endblock %}
