<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titre %}Sortir{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ asset ('css/app.css') }}">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
</head>
<br>
<body>

<div class="container has-text-centered">
    <header>

        {% include ('inc/nav.html.twig')%}
        <section>
            <div class="container has-text-centered">
                <img src="{{ asset('img/image.jpg') }}" class="imgTop" alt="image principale de site">
            </div>

        </section>
        <hr>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>
    <hr>
    <footer>
        <div class="container">
            <nav class="menu columns">
                <div class="column is-two-fifth">
                    <p class="menu-label">
                        Général
                    </p>
                    <ul class="menu-list">
                        <li><a href="{{ path('accueil') }}">Accueil</a></li>
                        <li><a href="{{ path('connexion') }}">Connexion</a></li>
                    </ul>
                </div>
                <div class="column is-two-fifth">
                    <p class="menu-label">
                        Comptes
                    </p>
                    <ul class="menu-list">

                        <li><a href="{{ path('sortie_ajouter') }}">Créer une sortie</a></li>
                        <li><a href="{{ path('mon_profil') }}">Modifier mon compte</a></li>
                    </ul>
                </div>
                <div class="column is-two-fifth">
                    <p class="menu-label">
                        Informations légales
                    </p>
                    <ul class="menu-list">
                        <li><a href="http://opensource.org/licenses/mit-license.php" target="_blank">The source code is licensed</a></li>
                        <li><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">The website content is licensed</a></li>
                    </ul>
                </div>
            </nav>

            <div class="content has-text-centered">
                <p>
                     &copy;Sortir.com | <?= date('Y')?> By Guillaume LENORMAND, Jolan VANDENBROUCQUE et Mélody DELAGE
                </p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
