<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titre %}Sortir{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
</head>
<div class="container">
    <header>
        <a class="site-title" href="{{ path('home') }}" title="Sortir ! | Accueil">
            <img src="{{ asset('img/logo.png') }}" alt="Bucket-List"> Bucket-List
        </a>

        {% include ('inc/nav.html.twig')%}
        <hr>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        © {{ "now"|date("Y") }} Sortir
        <p>By Guillaume, Jolan et Mélody [</p>
    </footer>
</div>
</body>
</html>
